<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess The Word!</title>
    <!-- <script src="/index.js"></script> -->
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row intro">
            <img id="label" style="text-align: center;" src="../docs/guess_it_logo.svg" alt="guess_it_logo">
        </div>
        <div class="row select_action">
            <div class="col create-join">
                <form action="/room_created.ejs">
                    <input class="form-control" type="text" name="room_name" id="room_name" placeholder="Enter your room name" required>
                    <br>
                    <!-- <input class="form-control" type="text" name="user_name" id="user_name" placeholder="Enter your name" required>
                    <br> -->
                    <button class="btn btn-primary" id="submit"> Create a Room! </button>
                </form>
            </div>
            <!-- later we change this to add users to existing rooms -->
            <!-- <div class="col create-join">
                <form action="/room_created.ejs">
                    <input class="form-control" type="text" name="room_name" id="room_name" placeholder="Enter your room name" required>
                    <br>
                    <input class="form-control" type="text" name="user_name" id="user_name" placeholder="Enter your name" required>
                    <br>
                    <button class="btn btn-primary" id="submit"> Join the Room! </button>
                </form>
            </div> -->
        </div>

    </div>
</body>

</html>