<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess The Word!</title>
    <script src="/index.js"></script>
</head>

<body>
    <h1>Welcome to our App...</h1>
    </br>
    <form action="/room-req" method="POST">
        <input type="text" name="room_name" id="room_name" placeholder="Enter your room name!">
        <button id="submit"> Submit </button>
    </form>
</body>

</html>