<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>room created</title>
    <link href="../css/room.css" rel="stylesheet" type="text/css">

</head>

<body>
    <h1>Personal Room: <%= room_name %></h1>
</body>

</html>